table {border-spacing:0px;}
a {color: #754e00;}
a:link {text-decoration:underline; color:navy;}
a:visited {text-decoration:underline; color:navy;}
body {font-family:Segoe UI,verdana,Helvetica,Arial,FreeSans,san-serif; color:#000000; margin:0px;}
.caption {font-family:Meiryo UI,verdana,Segoe UI,Helvetica,Arial,FreeSans,san-serif; color:#000000; margin:0px;}
ul {line-height:1.8;}
img {vertical-align:middle;}
pre {font-size:1.0em; background:black; color:white; padding:15px;}
hr {border:0px; width:90%; border-bottom:1px solid #aaa}

#stem_stack {width:95%; background-color:white; border-spacing:5px; margin:0px auto;}
#stem_stack>tbody>tr>td {padding:10px;}

